<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

 <appSettings>

    <add key ="WB" value="Election_Tally"/>
	 <add key="AS" value="ELE_APP_FF_2024"/>
    <add key="DB" value="Server=172.16.202.79;Database=WB_Election_2024;uid=sa;password=Republic@2017;"/>
  </appSettings>
</configuration>